PhoneApp1.1__H/PhoneApp1.1__H/Service References/Service13.xsd/Service132.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GoodFolks" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GoodFolks" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dantedemon89.ddns.net:50570/GoodFolks/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Member">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserBirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserEducation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserFName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserLName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Userpassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Member" nillable="true" type="tns:Member" />
  <xs:complexType name="UserAuth">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAuth" nillable="true" type="tns:UserAuth" />
  <xs:complexType name="ArrayOfMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Member" nillable="true" type="tns:Member" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMember" nillable="true" type="tns:ArrayOfMember" />
  <xs:complexType name="ArrayOfPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPost" nillable="true" type="tns:ArrayOfPost" />
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element minOccurs="0" name="Salutes" type="xs:int" />
      <xs:element minOccurs="0" name="postId" type="xs:int" />
      <xs:element minOccurs="0" name="postImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="postLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="postType" type="ser:char" />
      <xs:element minOccurs="0" name="postUser" type="xs:int" />
      <xs:element minOccurs="0" name="txtContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentAttending" type="xs:int" />
      <xs:element minOccurs="0" name="eventCaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eventDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eventHost" type="xs:int" />
      <xs:element minOccurs="0" name="eventId" type="xs:int" />
      <xs:element minOccurs="0" name="eventLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eventType" type="xs:int" />
      <xs:element minOccurs="0" name="maxAttend" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
</xs:schema>