PhoneApp1.1__H/PhoneApp1.1__H/Service References/myService/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.6:50570/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.6:50570/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.6:50570/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GoodFolks" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_newUser_InputMessage">
    <wsdl:part name="parameters" element="tns:newUser" />
  </wsdl:message>
  <wsdl:message name="IService1_newUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:newUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_newPost_InputMessage">
    <wsdl:part name="parameters" element="tns:newPost" />
  </wsdl:message>
  <wsdl:message name="IService1_newPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:newPostResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IService1_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ForgotPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_ForgotPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getFriendList_InputMessage">
    <wsdl:part name="parameters" element="tns:getFriendList" />
  </wsdl:message>
  <wsdl:message name="IService1_getFriendList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFriendListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getMemberInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getMemberInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_getMemberInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMemberInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getSalutes_InputMessage">
    <wsdl:part name="parameters" element="tns:getSalutes" />
  </wsdl:message>
  <wsdl:message name="IService1_getSalutes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSalutesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getMyPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:getMyPosts" />
  </wsdl:message>
  <wsdl:message name="IService1_getMyPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMyPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getFriendsPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:getFriendsPosts" />
  </wsdl:message>
  <wsdl:message name="IService1_getFriendsPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFriendsPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:getEvents" />
  </wsdl:message>
  <wsdl:message name="IService1_getEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getStrangerPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:getStrangerPosts" />
  </wsdl:message>
  <wsdl:message name="IService1_getStrangerPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStrangerPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addSalute_InputMessage">
    <wsdl:part name="parameters" element="tns:addSalute" />
  </wsdl:message>
  <wsdl:message name="IService1_addSalute_OutputMessage">
    <wsdl:part name="parameters" element="tns:addSaluteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isSaluted_InputMessage">
    <wsdl:part name="parameters" element="tns:isSaluted" />
  </wsdl:message>
  <wsdl:message name="IService1_isSaluted_OutputMessage">
    <wsdl:part name="parameters" element="tns:isSalutedResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="newUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/newUser" message="tns:IService1_newUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/newUserResponse" message="tns:IService1_newUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="newPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/newPost" message="tns:IService1_newPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/newPostResponse" message="tns:IService1_newPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Authenticate" message="tns:IService1_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthenticateResponse" message="tns:IService1_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ForgotPassword" message="tns:IService1_ForgotPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ForgotPasswordResponse" message="tns:IService1_ForgotPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFriendList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getFriendList" message="tns:IService1_getFriendList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getFriendListResponse" message="tns:IService1_getFriendList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMemberInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getMemberInfo" message="tns:IService1_getMemberInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getMemberInfoResponse" message="tns:IService1_getMemberInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSalutes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getSalutes" message="tns:IService1_getSalutes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getSalutesResponse" message="tns:IService1_getSalutes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMyPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getMyPosts" message="tns:IService1_getMyPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getMyPostsResponse" message="tns:IService1_getMyPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFriendsPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getFriendsPosts" message="tns:IService1_getFriendsPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getFriendsPostsResponse" message="tns:IService1_getFriendsPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getEvents" message="tns:IService1_getEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getEventsResponse" message="tns:IService1_getEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStrangerPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getStrangerPosts" message="tns:IService1_getStrangerPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getStrangerPostsResponse" message="tns:IService1_getStrangerPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addSalute">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addSalute" message="tns:IService1_addSalute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addSaluteResponse" message="tns:IService1_addSalute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isSaluted">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isSaluted" message="tns:IService1_isSaluted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isSalutedResponse" message="tns:IService1_isSaluted_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="newUser">
      <soap:operation soapAction="http://tempuri.org/IService1/newUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newPost">
      <soap:operation soapAction="http://tempuri.org/IService1/newPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IService1/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/ForgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFriendList">
      <soap:operation soapAction="http://tempuri.org/IService1/getFriendList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMemberInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/getMemberInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSalutes">
      <soap:operation soapAction="http://tempuri.org/IService1/getSalutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMyPosts">
      <soap:operation soapAction="http://tempuri.org/IService1/getMyPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFriendsPosts">
      <soap:operation soapAction="http://tempuri.org/IService1/getFriendsPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvents">
      <soap:operation soapAction="http://tempuri.org/IService1/getEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStrangerPosts">
      <soap:operation soapAction="http://tempuri.org/IService1/getStrangerPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSalute">
      <soap:operation soapAction="http://tempuri.org/IService1/addSalute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isSaluted">
      <soap:operation soapAction="http://tempuri.org/IService1/isSaluted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://192.168.1.6:50570/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>