M-government Application/Service References/WorkflowService/Service132.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dantedemon89-001-site2.mywindowshosting.com/MishwarService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcfworkflow" />
  <xs:element name="getMainCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientType" type="xs:int" />
        <xs:element minOccurs="0" name="lang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMainCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcfworkflow" minOccurs="0" name="getMainCategoryResult" nillable="true" type="q1:ArrayOfMainCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mainCategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="lang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcfworkflow" minOccurs="0" name="getSubServiceResult" nillable="true" type="q2:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mainCategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="lang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcfworkflow" minOccurs="0" name="getServiceResult" nillable="true" type="q3:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element minOccurs="0" name="lang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wcfworkflow" minOccurs="0" name="getDocumentsResult" nillable="true" type="q4:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element minOccurs="0" name="lang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wcfworkflow" minOccurs="0" name="getConditionsResult" nillable="true" type="q5:ArrayOfCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProcedures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element minOccurs="0" name="lang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProceduresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wcfworkflow" minOccurs="0" name="getProceduresResult" nillable="true" type="q6:ArrayOfProcedures" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingleService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
        <xs:element minOccurs="0" name="lang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingleServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wcfworkflow" minOccurs="0" name="getSingleServiceResult" nillable="true" type="q7:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>